.good{
    
    overflow: hidden;
    margin-top: 200px; 
    &__content{
        max-width: 445px;
    }
    &__header{
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #495567;
    }
    &__text{
        padding:24px 0 40px;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }
    &__btn{
        @include btn;
    }
    &__wrapper{
        position: relative;
        margin-bottom: 163px;
        &:last-child{
            margin-bottom: 0;
        }
        display: flex;
        &:nth-child(2){
            flex-direction: row-reverse;
        }
        justify-content: space-between;
        align-items: center;
    }
    .easy__mask{
        position: absolute;
        right: -50%;
    }
    .easy__arrow{
        position: absolute;
        bottom:0;
        right:-15%
    }
    .city__mask{
        position: absolute;
        left: -50%;
        
    }
    .city__arrow{
        position: absolute;
        left:-50%;
    }
    .payment__arrow{
        position: absolute;
        top:17%;
        right: -49%;
    }
}
@media screen and (max-width:868px){
    .good{
        margin-top: 145px; 
        &__content{
            margin-top: 56px;
            max-width: 573px;
            &:last-child{
                margin-top: 0;
            }
        }
        &__header{
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14286px;
            color: #495567;
        }
        &__text{
            padding:40px 0;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
        &__btn{
            @include btn;
        }
        &__wrapper{
            position: relative;
            margin-bottom: 136px;
            text-align: center;
            flex-direction: column-reverse;
            &:last-child{
                margin-bottom: 0;
            }
            
            &:nth-child(2){
                flex-direction:column-reverse;
            }
            justify-content: space-between;
            align-items: center;
        }
        .easy__mask{
            position: absolute;
            right: -55%;
        }
        .easy__arrow{
            position: absolute;
            bottom:365px;
            right:-5%;
        }
        .city__mask{
            position: absolute;
            left: -55%;
            
        }
        .city__arrow{
            position: absolute;
            left:-64%;
        }
        .payment__arrow{
            position: absolute;
            top:10%;
            right: -62%;
        }
    }
}

@media screen and (max-width:476px){
    .good{
        margin-top: 120px; 
        &__content{
            margin-top: 56px;
            max-width: 311px;
            &:last-child{
                margin-top: 0;
            }
        }
        &__header{
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -2.14286px;
            color: #495567;
        }
        &__text{
            padding:32px 0;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
        &__btn{
            @include btn;
        }
        &__img{
            width:311px ;
        }
        &__wrapper{
            position: relative;
            margin-bottom: 120px;
            text-align: center;
            flex-direction: column-reverse;
            &:last-child{
                margin-bottom: 0;
            }
        }
        .easy__mask{
            display: none;
        }
        .easy__arrow{
            position: absolute;
            bottom:365px;
            right:-115%;
        }
        .city__mask{
            display: none;
        }
        .city__arrow{
            position: absolute;
            top:-10px;
            left:-135%;
        }
        .payment__arrow{
            position: absolute;
            top:0px;
            right: -146%;
        }
    }
}