@mixin btn {
    display: inline-block;
    padding: 14px 39px;
    border: 3px solid #FCB72B;
    background: #FCB72B;
    color:#fff;
    &:hover{
        border: 3px solid #FCB72B;
        color: #FCB72B;
        background-color: transparent;
    }
    
}
@media screen and (max-width:768px){

    @mixin btn{
        padding:14px 44.5px;
    }
    
}